html, body {
	position: relative;
	width: 100%;
	height: 100%;
}

body {
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	font-size: 1.2rem;
	background-color: var(--base-color);
	color: var(--text-color);
}
h2 {
	text-shadow: 0.2em 0.2em 0.4em var(--dark-color), 
							-0.2em -0.2em 0.4em var(--light-color);
}
button {
	border: none;
	padding: 0.4em 2em;
	color: var(--text-color);
	outline: none;
	font-size: 1em;

	text-shadow: 0.2em 0.2em 0.4em var(--dark-color), 
							-0.2em -0.2em 0.4em var(--light-color);
	border-radius: 1em;
	background: linear-gradient(145deg, var(--button-light-color), var(--button-dark-color));
	box-shadow:  0.2em 0.2em 0.4em var(--dark-color), 
							-0.2em -0.2em 0.4em var(--light-color);
}

button:active{
	background: linear-gradient(145deg, var(--button-dark-color), var(--button-light-color));
}

:root{
	--base-color: #d8e3e9;
	--light-color: #ffffff;
	--dark-color: #959da1;
	--button-light-color: #e7f3f9;
	--button-dark-color: #c2ccd2;
	--text-color: #2B303Ab9;
	--alert-color: #D64933;

	--ball-color-1: #C2F9BB;
	--ball-color-2: #8D6A9F;
	--ball-color-3: #F9F8F8;
	--ball-color-4: #DDA448;
	--ball-color-5: #BB342F;
}